*,
*::before,
*::after {
    box-sizing: border-box;
}

/* OUTLINE BOX FOR TABBING  */
::focus {
    outline: 2px solid black;
    outline-offset: 4px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: hsl(0deg 0% 80%);
}

#add_task {
    width: 100%;
    height: 10vh;
    margin: 0px;
}

.modal-wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 16px 32px;
    border: 1px solid #888;
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-footer p {
    margin-top: auto;
    font-size: 0.825rem;
}

textarea {
    width: 100%;
    margin: auto;
    display: block;
    resize: none;
}

#flex_table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80vh;
    max-height: 80vh;
    padding: 16px;
    overflow: auto;
}

#flex_table .task {
    display: block;
    width: 100%;
    background: hsl(0, 0%, 100%);
    text-align: left;
    padding: 8px;
    margin: 4px auto;
}

footer {
    text-align: center;
    padding: 4px;
    background-color: hsl(15, 65%, 65%);
    color: white;
    height: 10vh;
    max-height: 10vh;
}

@media (min-width: 550px) {
}
